
form{
  margin: 0 auto;
  width: 390px;
  padding: 1em;
  border: 1.5px solid black;
  border-radius: 1em;
  background-color: rgb(202, 60, 91);
}
label , button{
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  color: black;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}